<p>
  <strong>Name:</strong>
  <%= @country.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @country.description %>
</p>
<%= image_tag @country.flag.url(:thumb) %>

<%= link_to 'Edit', edit_country_path(@country) %> |
<%= link_to 'Back', countries_path %>
