<%= form_for [@country, @city] do |f| %>
  <% if @city.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        The form contains <%= pluralize(@city.errors.count, "error") %>.
      </div>
      <ul>
        <% @city.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>
